
<form [formGroup]="userInsertForm" (ngSubmit)="onSubmit()">

    <div>
        <label for="user-name">Nom</label>
        <span *ngIf="userInsertForm.controls['name'].errors?.['required']" class="errors">* </span><br>

        <input type="text" id="user-name" formControlName="name">
        
        <p *ngIf="userInsertForm.controls['name'].errors?.['notBlank']" class="errors"> 
            {{ userInsertForm.controls['name'].errors?.['notBlank'].message }} 
        </p>

        <p *ngIf="userInsertForm.controls['name'].errors?.['maxlength']" class="errors">La longueur maximum est de 30 caractères</p><br>
       
    </div>
  

    <br>
    <div>
        <label for="user-email">E-mail</label>
        <span *ngIf="userInsertForm.controls['email'].errors?.['required']" class="errors">* </span><br>

        <input type="text" id="user-email" formControlName="email">
      
        <p *ngIf="userInsertForm.controls['email'].errors?.['notBlank']" class="errors"> 
            {{ userInsertForm.controls['email'].errors?.['notBlank'].message }} 
        </p>
        <p *ngIf="userInsertForm.controls['email'].errors?.['maxlength']" class="errors">La longueur maximum est de 30 caractères</p><br>
    </div>
    <br>


    <div>
        <label for="user-birthdate">Date de naissance</label>
        <span *ngIf="userInsertForm.controls['birthdate'].errors?.['required']" class="errors">* </span><br>

        <input type="date" id="user-birthdate" formControlName="birthdate">
       
        <!-- <p *ngIf="userInsertForm.controls['birthdate'].errors?.['birthdateBeforeToday']" class="errors"> 
            {{ userInsertForm.controls['birthdate'].errors?.['birthdateBeforeToday'].message }} 
        </p> -->
    </div>
    <br>

    
    <div>
        <label for="user-password">Mot de passe</label>
        <span *ngIf="userInsertForm.controls['password'].errors?.['required']" class="errors">* </span><br>

        <input type="text" id="user-password" formControlName="password">
    
    </div>
   
 
<br><br>

    <button type="submit">Créer un nouveau compte</button>
    <br>



</form>

<p><span class="errors">*</span> Ce champ est obligatoire</p>

<button (click)="return()">Retour</button>