<h2>Connexion</h2>

<p *ngIf="connected">Vous êtes connecté {{username}} 

    <br>
    <button (click)="getInfoUser()">Afficher mes informations</button><br><br>
    <button (click)="restaurants()">Voir les restaurants</button>
</p>



<div *ngIf="!connected && !connection && !createAccount">
    <p>Vous n'êtes pas connecté, veuillez vous identifier ou créer un compte</p>
    <button (click)="login()">Se connecter</button>
    <button (click)="createUser()">Créer un compte</button>
</div>



<!-- Display user info if connected -->
<div *ngIf="connected && displayInfo">
    <ul>
        <li>Pseudo : {{user.username}}</li>
        <li>date de naissance : {{user.birthdate}}</li>
        <li>email : {{user.email}}</li>
    </ul> <br>

    Vos commentaires : 
    <p *ngFor="let review of user.reviews">
        {{review.title}}<br>
        {{review.comment}} - {{review.stars}}
    </p>

    Vos favoris : 
    <p *ngFor="let favorite of user.favorites">
        {{favorite.name}}
    </p>
</div>



<!-- Display the login page -->
<app-login *ngIf="!connected && connection"
    (return) = "hideLogin()" ></app-login>


<!-- Display the form to create an account -->
<app-create-account *ngIf="!connected && createAccount" 
    (return) = "hideCreateAccount()" ></app-create-account>