table {
    border-collapse: collapse;
    border-spacing: 0;
    width:80%;
    border: 1px solid #ddd;
    margin:  0px auto;
  }
  
th, td {
    text-align: left;
    padding: 16px;
  }
  
.favorites{
    width: 20%;
    margin: 0 auto;
}

.info{
  width: 50%;
  margin: 0px auto;
}

.red:hover{
    background-color: rgb(243, 161, 128);
}
 
h3{
  background-color: #faf9e8;
  width: 80%;
  margin: 0 auto;
}