<div *ngIf="connected">
  <h2> Compte de {{username}}</h2>
  
  <button (click)="disconnection()" class="red">Déconnection</button><br>
</div>




<div *ngIf="!connected && !connection && !createAccount">
  <h2>Connexion</h2>
    <p>Vous n'êtes pas connecté, veuillez vous identifier ou créer un compte</p>
    <button (click)="login()">Se connecter</button>
    <button (click)="createUser()">Créer un compte</button>
</div>



<!-- Display user info if connected -->
<br>
<div *ngIf="connected && user != null">
<h3>Informations</h3>
<div class="info">
    <table>
        <thead>
        <tr>
          <th scope="col">Pseudo</th>
          <th scope="col">Date de naissance</th>
          <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
          <td>
            {{user.username}}
          </td>

          <td>{{user.birthdate | date: 'shortDate'}}</td>

          <td>{{user.email}}</td>
        </tbody>
      </table>
</div>
<br><br>

<h3>Avis</h3>
<div *ngIf="user.reviews.length > 0, else noReview">
  <table>
      <thead>
        <th scope="col">Titre</th>
        <th scope="col">Nombres d'étoiles</th>
        <th scope="col">Commentaire</th>
        <th scope="col">Restaurant</th>
        <th scope="col">Supprimer</th>
        <th scope="col">Voir plus</th>
      </thead>
      <tbody>
        <tr *ngFor="let review of user.reviews">
        <td> {{review.title}} </td>
        <td> {{review.stars}}/5</td>
        <td> {{review.comment}}</td>
        <td> {{review.restaurant.name}}</td>
        <td><button (click)="deleteReview(review.id)" class="red">Supprimer</button></td>
        <td><button (click)="goToRestaurant(review.restaurant.id)">Voir le restaurant</button></td>
        </tr>
      </tbody>
  </table>
</div>
       
<br><br>
<h3>Favoris</h3>
<div *ngIf="user.favorites.length > 0, else noFavorite" >
      <table class="favorites" >
        <tbody>
          <tr *ngFor="let favorite of user.favorites">
            <td>{{favorite.name}}</td>
            <td><button (click)="deleteFavorite(favorite.id)" class="red">Supprimer</button></td>
            <td><button (click)="goToRestaurant(favorite.id)">Voir le restaurant</button></td>
          </tr>
        </tbody>
    </table>
</div>

<br><br><br>
<button (click)="deleteAccount()"  class="red">Supprimer mon compte</button>
</div>

<ng-template #noFavorite>
  <br>
  Vous n'avez pas encore de favoris, explorez nos restaurants pour en ajouter à votre liste ! 
</ng-template>


<ng-template #noReview>
  <br>
  Vous n'avez pas encore donné d'avis sur un restaurant. 
  <br>
</ng-template>



<!-- Display the login page -->
<app-login *ngIf="!connected && connection"
    (return) = "hideLogin()"  ></app-login>


<!-- Display the form to create an account -->
<app-create-account *ngIf="!connected && createAccount" 
    (return) = "hideCreateAccount()" ></app-create-account>