<h2>Connexion</h2>

<p *ngIf="connected">Vous êtes connecté {{userName}} </p>


<div *ngIf="!connected && !connection && !createAccount">
    <p>Vous n'êtes pas connecté, veuillez vous identifier ou créer un compte</p>
    <button (click)="login()">Se connecter</button>
    <button (click)="createUser()">Créer un compte</button>
</div>



<app-login *ngIf="connection"
    (return) = "hideLogin()" ></app-login>

<app-create-account *ngIf="createAccount" 
    (return) = "hideCreateAccount()" ></app-create-account>