table {
    border-collapse: collapse;
    border-spacing: 0;
    width:70%;
    border: 1px solid #ddd;
    margin:  0 auto;
  }
  
th, td {
    text-align: left;
    padding: 16px;
    width: fit-content;
  }
   
.favorites{
    width: 20%;
    margin: 0 auto;
}


.info{
  width: 40%;
  margin: 0 auto;
}

.red:hover{
    background-color: rgb(243, 161, 128);
}
 
h3{
  background-color: #faf9e8;
  margin: 0 auto;
  width: 15%;
}