
<form [formGroup]="userInsertForm" (ngSubmit)="onSubmit()">

  
    <div>
        <label for="user-email">E-mail</label>
        <span *ngIf="userInsertForm.controls['email'].errors?.['required']" class="errors">* </span><br>

        <input type="text" id="user-email" formControlName="email">
      
        <p *ngIf="userInsertForm.controls['email'].errors?.['notBlank']" class="errors"> 
            {{ userInsertForm.controls['email'].errors?.['notBlank'].message }} 
        </p>
    </div>
    <br>

    
    <div>
        <label for="user-password">Mot de passe</label>
        <span *ngIf="userInsertForm.controls['password'].errors?.['required']" class="errors">* </span><br>

        <input type="text" id="user-password" formControlName="password">
    
    </div>
   
 
<br><br>

    <button type="submit">Se connecter</button>
    <br>



</form>

<p><span class="errors">*</span> Ce champ est obligatoire</p>


<button (click)="return()">Retour</button>