

<h3>Bienvenue</h3>

<button (click)="login()" *ngIf="!connected"> Se connecter/ s'inscrire </button>
<button (click)="login()" *ngIf="connected"> Mon compte </button>

<button (click)="restaurants()">Voir les restaurants</button>




<h2>TODO d'Estelle</h2>
<ul>
    <li>ajouter possibilité déconnection</li>
    <li>Afficher le nom du restaurant dans review par user</li>
    <li>Améliorer l'affichage des erreurs dans le form (espaces trops grands)</li>
    <li>Confirmation mdp quand création compte ? </li>
    <li>Améliorer navigation</li>
    <li>Photo resto ? </li>
    <li>Consolider validation pour ne pas ajouter deux fois le même resto ou même user</li>
</ul>



