

<h3>Bienvenue</h3>

<button (click)="login()" *ngIf="!connected"> Se connecter/ s'inscrire </button>
<button (click)="login()" *ngIf="connected"> Mon compte </button>

<button (click)="restaurants()">Voir les restaurants</button>




<h2>TODO d'Estelle</h2>
<ul>
    <li>Afficher le nom du restaurant dans review par user</li>
    <li>Améliorer l'affichage des erreurs dans le form (espaces trops grands)</li>
    <li>Supprimer le bouton "supprimer restaurant" quand plus besoin </li>
    <li>Confirmation mdp quand création compte ? </li>
    <li>Montrer au user ses favoris et ses commentaires </li>
</ul>



