<h2>Restaurants</h2>

<div> 
  <input type="text" [(ngModel)]="restaurantName">
  <button (click)="search()">Rechercher</button><br><br>
  <button *ngIf="displayReset" (click)="reset()">Afficher la liste complète</button>
</div><br>

<label>Trier par : </label>
<select [(ngModel)]="orderStr" (change)="order()">
    <option value="asc">a-z</option>
    <option value="desc">z-a</option>
</select><br><br>


<table>
  <thead>
  <tr>
    <th scope="col">Nom</th>
    <th scope="col">Type de nourriture</th>
    <th scope="col">Adresse</th>
    <th scope="col">Voir plus</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let restaurant of restaurants; index as i">
    <td>
      {{ restaurant.name }}
    </td>
    <td>{{ restaurant.typeOfFood}}</td>
    <td>{{ restaurant.address }}</td>
    <td> <button (click)="displayRestaurant(restaurant)">Afficher</button><br></td>
  </tr>
  </tbody>
</table>


<br><br>
<button (click)="addOneRestaurant()">Ajouter un restaurant</button>




<!-- 
  <div> Utilisateurs
    <p *ngFor="let user of users">
         {{user.id}} - {{user.username}} <br>
         {{user.email}}
    </p>
  </div><br>

  <div> Avis
    <p *ngFor="let review of reviews">
         {{review.id}} - {{review.title}} <br>
         {{review.user.username}} - {{review.restaurant.name}}
    </p>
  </div>
 -->

