table {
    border-collapse: collapse;
    border-spacing: 0;
    width:80%;
    border: 1px solid #ddd;
    margin:  0px auto;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #faf9e8;
  }