<h2>Restaurants</h2>


<div>
    <p *ngFor="let restaurant of restaurants">
         {{restaurant.id}} - {{restaurant.name}} <br>
        Type de nourriture : {{restaurant.typeOfFood}}<br><br>
  
        <button (click)="displayRestaurant(restaurant)">Afficher</button>
        <button (click)="deleteRestaurant(restaurant)">Supprimer le restaurant</button>

    </p>
  </div>

  <div> Utilisateurs
    <p *ngFor="let user of users">
         {{user.id}} - {{user.name}} <br>
         {{user.email}}
    </p>
  </div><br>

  <div> Avis
    <p *ngFor="let review of reviews">
         {{review.id}} - {{review.title}} <br>
         {{review.user.name}} - {{review.restaurant.name}}
    </p>
  </div>


