<!-- Display the restaurant -->
<div *ngIf="restaurant != null">


    <h2>Restaurant {{restaurant.name}}</h2>

    <p>
       Adresse : {{restaurant.address}}<br><br>
       Téléphone : {{restaurant.phoneNumber}}<br><br>
       Déscription : {{restaurant.description}}<br><br>
       Type de nourriture : {{restaurant.typeOfFood}}<br><br>
    </p>



<!-- Display the reviews of this restaurant -->
    
    <div *ngIf="restaurant.reviews.length > 0" class="review"> 
        <h3>Avis</h3>
        <div *ngFor="let review of restaurant.reviews">
    
            {{review.title}} - {{review.comment}} <br><br>
    
            <button (click)="displayReview(review)">Voir plus</button>
        </div>
    </div>


    <!-- Display the full review if btton is clicked -->
    <div *ngIf="reviewToDisplay != null">
        <p>
            {{reviewToDisplay.title}} <br>
    
            Commentaire : {{reviewToDisplay.comment}} <br>
            Nombre d'étoiles : {{reviewToDisplay.stars}} <br>
            Fait par : {{reviewToDisplay.user.username}}
        </p>
    </div>
</div>

<div *ngIf="connected">
    <button (click)="addToFavorites()">Ajouter à mes favoris</button>
</div>

<br><br>
<div *ngIf="!connected">
    <p>Connecté vous pour ajouter un comentaire ! </p>
    <button (click)="connection()"> Connexion/inscription </button>
</div>


<br><br>
<!-- Display a form to add a comment if user is connected -->
<div class="form" *ngIf="connected" > 
    <h2>Ajouter un commentaire</h2>
    <form [formGroup]="reviewInsertForm" (ngSubmit)="addReview()">

        <div>
            <label for="review-title">Titre</label>
            <span *ngIf="reviewInsertForm.controls['title'].errors?.['required']" class="errors">* </span><br>

            <input type="text" id="review-title" formControlName="title">
        </div>
        <br>
    

        <div>
            <label for="review-comment">Commentaire</label>
            <span *ngIf="reviewInsertForm.controls['comment'].errors?.['required']" class="errors">* </span><br>
    
            <input type="text" id="review-comment" formControlName="comment">
        </div>
        <br>
    
      
        <div>
            <label for="review-stars">Nombre d'étoiles</label>
            <span *ngIf="reviewInsertForm.controls['stars'].errors?.['required']" class="errors">* </span><br>
    
            <input type="number" min="0" max="5" id="review-stars" formControlName="stars"><br>

            <span *ngIf="reviewInsertForm.controls['stars'].errors?.['max5Stars']" class="errors"> 
                {{ reviewInsertForm.controls['stars'].errors?.['max5Stars'].message }} 
            </span>
        </div>
        <br>
    
      

        <button type="submit"> Ajouter un avis </button>


        <p><span class="errors">*</span> Ce champ est obligatoire</p>
    </form>
</div>


<br>
<button (click)="return()"> Retour </button>
   


   
