.form{
    border: solid 4px grey;
    width: 500px; 
    margin: 0 auto; 
}

.review{
    background-color: rgb(255, 255, 255);
    border: 2px solid grey;
    width:20%;
    margin:  0px auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width:80%;
    border: 1px solid #ddd;
    margin:  0px auto;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  

.reviewToDisplay{
    width:50%;
    margin:  0px auto;
}



