<!-- Display the restaurant -->
<div *ngIf="restaurant != null">

<br>
    <h2>Restaurant {{restaurant.name}}</h2>

    <table>
        <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Adresse</th>
          <th scope="col">Téléphone</th>
          <th scope="col">Description</th>
          <th scope="col">Type de nourriture</th>
          <th scope="col">Favoris de </th>
        </tr>
        </thead>
        <tbody>
          <td>{{restaurant.name}}</td>
          <td>{{ restaurant.address }}</td>
          <td>{{ restaurant.phoneNumber}}</td>
          <td>{{ restaurant.description }}</td>
          <td>{{ restaurant.typeOfFood}}</td>
          <td>{{ restaurant.favoriteOf.length}} personnes</td>
        </tbody>
      </table><br>


<!-- Display the reviews of this restaurant -->
    <div *ngIf="restaurant.reviews.length > 0 && reviewToDisplay == null" class="review"> 
        <h3>Avis</h3>
        <div *ngFor="let review of restaurant.reviews"> 
    
          <br>  {{review.title}} - {{review.stars}}/5 <br><br>
    
            <button (click)="displayReview(review)">Voir plus</button>
        </div>
    </div>

    <!-- Display the full review if btton is clicked -->
    <div *ngIf="reviewToDisplay != null" class="reviewToDisplay">
        <table>
            <thead>
            <tr>
              <th scope="col">Titre</th>
              <th scope="col">Commentaire</th>
              <th scope="col">Nombre d'étoiles</th>
              <th scope="col">Fait par</th>
            </tr>
            </thead>
            <tbody>
              <td>{{ reviewToDisplay.title}}</td>
              <td>{{reviewToDisplay.comment}}</td>
              <td>{{ reviewToDisplay.stars}}</td>
              <td>{{ reviewToDisplay.user.username}}</td>
            </tbody>
          </table>
        <button (click)="hideReview()">Voir la liste des avis</button>
    </div>

<br><br>
<div *ngIf="connected && !favorite">
    <button (click)="addToFavorites()">Ajouter à mes favoris</button>
</div>

<br><br>
<div *ngIf="!connected">
    <p>Connecté vous pour ajouter un avis! </p>
    <button (click)="connection()"> Connexion/inscription </button>
</div>


<br>
<!-- Display a form to add a comment if user is connected -->
<div class="form" *ngIf="connected" > 
    <h2>Ajouter un avis</h2>
    <form [formGroup]="reviewInsertForm" (ngSubmit)="addReview()">

        <div>
            <label for="review-title">Titre</label>
            <span *ngIf="reviewInsertForm.controls['title'].errors?.['required']" class="errors">* </span><br>

            <input type="text" id="review-title" formControlName="title">
        </div>
        <br>
    

        <div>
            <label for="review-comment">Commentaire</label>
            <span *ngIf="reviewInsertForm.controls['comment'].errors?.['required']" class="errors">* </span><br>
    
            <input type="text" id="review-comment" formControlName="comment">
        </div>
        <br>
    
      
        <div>
            <label for="review-stars">Nombre d'étoiles</label>
            <span *ngIf="reviewInsertForm.controls['stars'].errors?.['required']" class="errors">* </span><br>
    
            <input type="number" min="0" max="5" id="review-stars" formControlName="stars"><br>

            <span *ngIf="reviewInsertForm.controls['stars'].errors?.['max5Stars']" class="errors"> 
                {{ reviewInsertForm.controls['stars'].errors?.['max5Stars'].message }} 
            </span>
        </div>
        <br>
    
      

        <button type="submit"> Ajouter un avis </button>


        <p><span class="errors">*</span> Ce champ est obligatoire</p>
    </form>
</div>


<br>
<button (click)="return()"> Retour </button>
   


   
