@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Lato:wght@300;400&family=Quattrocento&display=swap');


.errors {
    color: red;
    font-style: italic;
    font-size: smaller;
    margin-top: 0;
}

*{
    text-align: center;
    font-family: 'Lato', sans-serif;
}

button {
    display: inline-block;
    background-color: #7c7e81;
    border-radius: 10px;
    border: 4px #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    width: max-content; 
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  button:hover {
    background-color: green;
  }
