@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Lato:wght@300;400&family=Quattrocento&display=swap');


.errors {
    color: red;
    font-style: italic;
    font-size: smaller;
    margin-top: 0;
}

*{
    text-align: center;
    font-family: 'Lato', sans-serif;
}
